* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    margin: 100px;
}

.field {
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    background: #e7f0ed;
}

.excel {
    width: 50px;
    height: 50px;
    padding: 5px;
}

.snake-body {
    background: green;
    border-radius: 50%;
}

.snake-head {
    background: orange;
    border-radius: 20%;
    position: relative;
}

.snake-head::before {
    content: ":";
    position: absolute;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1;
    right: 10px;
}

.mouse {
    background: #ccc;
    border-radius: 50%;
    position: relative;
}

.mouse::before {
    content: ". .";
    position: absolute;
    font-size: 2rem;
    line-height: 0.5;
    font-weight: bold;
    top: 0;
    width: 80%;
    text-align: center;
}

.mouse::after {
    content: "";
    height: 10px;
    width: 30%;
    border-radius: 50%;
    border-bottom: 2px solid red;
    position: absolute;
    bottom: 10px;
    left: 35%;
}

input {
    font-size: 2rem;
    text-align: center;
}
